@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-confirm {
  background-color: #22c55e !important; /* green */
  color: white !important;
  padding: 8px 16px !important;
  border-radius: 6px !important;
}

.swal2-cancel {
  background-color: #ef4444 !important; /* red */
  color: white !important;
  padding: 8px 16px !important;
  border-radius: 6px !important;
}